@import '../pages/StudentDashboard.scss';
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

html, body {
  width: 100%;
  height: 100%;
}

.header-content {
  height: 20px;
  width: 100px;

  background-color: #3c2f2f;
  
}
